.projects-section {
  position: relative;
  min-height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.projects-circle {
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    background: linear-gradient(45deg, aqua, salmon);
    animation: projects-animate 1.8s linear forwards;
}

@keyframes projects-animate {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0deg);
    }

    100% {
        transform: translate(-50%, -800%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}
.card-projects{
    position: absolute;
    z-index: 1;
}