@import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: #213C51;
  color: var(--textColor);
  transition: background-color 0.5s, color 0.5s;
}

.navigation {
  background-color: transparent;
  align-items: end;
  display: flex;
  justify-content: end;
}

.nav-buttons {
  color: white;
}

.hero-text {
  width: auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: #12222d;
  transition: background-color 0.5s;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 100vh;
}

.footer {
  background-color: #0e1a23;
  color: var(--footerTextColor);
  transition: background-color 0.5s, color 0.5s;
  position: relative;
  bottom: 0;
  width: 100%;
}

.timeline-header {
  color: #eeeeee;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.timeline-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
  background-repeat: no-repeat;
}
.education-info{
  padding: 24px;
  border-radius:0 0 12px 12px;
  color: #eeeeee;
  width:min(90vw);
  height: min(30vh);
  display:flexbox;
  justify-content:center;
  align-items: center;
  text-align: center;
}

.card {
  position: absolute;
  width: min(90vw);
  height: min(70vh);
  border-radius: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.5rem;
  background-size: cover;
  background-position: center;
}

.playwrite-nz-basic {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 48px;
  font-size: 48px;
  font-style: normal;
}